*, 
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* communs */ 
html {
  scroll-behavior: smooth;
}

#body-day {
  background-color: white !important;
  color: black !important;
}

#body-night {
  background-color: #141414 !important;
  color: white !important;
}

.a-link {
  color: grey !important;
}